@media (min-width: 320px) and (max-width: 480px) {
	* {
		line-height: normal;
	}

	.container {
		width: 100vw;
	}
	.header_container {
		width: 100vw;
		max-height: 267px;
		background-size: cover;
		background-position: right bottom;
		padding: 63px 38px 32px;
	}

	.header_container h1 {
		font-size: 40px;
		margin-bottom: 74px;
		line-height: normal;
	}

	.header_container button {
		width: 80px;
		height: 27px;
		font-size: 10px;
		line-height: normal;
		border: 0;
		padding: 7px 11px;
	}

	.articles_container {
		flex-direction: column;

	}

	.tours_container h2 {
		margin-bottom: 33px;
		font-size: 14px;
	} 

	.tours_container {
		padding: 22px 15px 0;
	}

	.tours_container article {
		width: 100%;
		margin-bottom: 0;
	}


	.tours_container article:not(:last-child) {
		padding-bottom: 43px;
	}

	.tours_container img {
		margin-bottom: 4px;
		width: 100%;
	}

	.tours_container h3 {
		margin-bottom: 11px;
		font-size: 11px;
		padding-bottom: 3px;
		line-height: normal;
	}

	.tours_container p {
		font-size: 10px;
		line-height: normal;
		padding: 0;
	}

	.map_container h2 {
		font-size: 14px;
		margin-bottom: 18px;
	}

	.map_container {
		padding: 82px 15px 37px;
	}

	.footer_container {
		flex-direction: column-reverse;
		padding: 21px 0;
	}

	.email_heading {
		margin-bottom: 7px;
	}

	#email {
		margin-bottom: 10px;
	}

	.agree {
		margin-bottom: 10px;
	}

	#subscribe {
		margin-bottom: 33px;
	}

	.contacts_heading {
		margin: 0 auto 33px;
	}

	.contact_item:last-child {
		margin-bottom: 0;
	}
}

@media (min-width: 480px) and (max-width: 768px) {
	* {
		line-height: normal;
	}

	.container {
		width: 100vw;
	}

	.header_container {
		width: 100vw;
		background-size: cover;
		background-position: right bottom;
		padding: 63px 38px 32px;
	}

	.header_container h1 {
		font-size: 120px;
		margin: 120px auto 280px;
		line-height: normal;
	}
}